[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.v]
indent_style = tab
indent_size = 4

[*.input]
insert_final_newline = false
trim_trailing_whitespace = false
